:root {
  --grey_border: #dbdbdb;
  --grey_background: #fafafa;
  --white_background: white;
  --grey_search_font: #757575;
}

body {
  margin: 0;
  font-family: "Roboto Light";
  font-size: 18px;
  background-color: var(--grey_background);
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--white_background);
  width: 100%;
  border-bottom: 1px solid var(--grey_border);
}

.header_content {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  /*justify-items: stretch;*/
  align-items: center;
  padding: 0.6rem 1.4rem;
  width: 100%;
  max-width: 975px;
}

.logo {
  display: flex;
  flex: 1 0 127px;
}

.logo_image {
  width: 100px;
}

@media screen and (max-width: 715px) {
  .search {
    display: none;
  }
}

.search {
  color: var(--grey_search_font);
}

.search input {
  padding-left: 1.8rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  width: 268px;
  border: 1px solid var(--grey_border);
  background-color: var(--grey_background);
  border-radius: 4px;
}

.search input:focus,
input:active {
  outline: none;
}

.search i {
  font-size: 14px;
  position: relative;
  left: 28px;
}

.actions {
  display: flex;
  flex: 1 0 127px;
  justify-content: flex-end;
}

.actions_content {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  gap: 22px;
  font-size: 24px;
}

.user-avatar {
  width: 24px;
  border-radius: 50%;
}

body > page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 935px;
}

.main {
  width: 70%;
}

.stories {
  margin: 0;
  padding: 1rem;
  border: 1px solid var(--grey_border);
  margin: 0 2px;
}

.feed {
  border: 1px solid var(--grey_border);
  margin: 0 2px;
}

.suggested_friends {
  width: 30%;
}
